[Unit]
Description=Heating API service
After=ssh.target
[Service]
Restart=on-failure
ExecStart=/home/pi/.local/bin/uvicorn --app-dir /home/pi/heating/api main:app --root-path /api --proxy-headers
User=pi
[Install]
WantedBy=multi-user.target
